* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {

}
/* \\\\\\\\\\\\\\\\\\\\\ Navbar \\\\\\\\\\\\\\\\\\ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    img {
    width:30px;
    }
}

.logo {
    align-items: center;
    justify-content: center;
}

.item-menu{
    align-items: center;
    justify-self: center;
}

input {
    width: 250px;
    font-size: 16px;
    padding: 8px 8px;
}
/* /////////////////// banner //////////////////////// */


.banner-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;  
}
.bn1{ 
    background-color: rgb(122, 122, 122);
    width: 900px;
    height: 200px;
    text-align: center;
}

