* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {

}
/* \\\\\\\\\\\\\\\\\\\\\ Navbar \\\\\\\\\\\\\\\\\\ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    img {
    width:30px;
    }
}

button{
    border: none;
    cursor: pointer;
    background-color:white;
}

.logo {
    align-items: center;
    justify-content: center;
}

.item-menu{
    align-items: center;
    justify-self: center;
}

input {
    width: 250px;
    font-size: 16px;
    padding: 8px 8px;
}
/* /////////////////// banner //////////////////////// */


.banner-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;  
}
 /* ///////////////// Product /////////////////////// */
#productlist{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:2px;
    margin-top: 10px;
    align-items: center;
    
}
.card {
    justify-self: center;
}

.box-pd {
    border: 1px solid #ddd;
    padding:0 0 ;
    border-radius: 10px;
    width: 250px;
    margin-top: 10px;
}

.box-pd img {
    display: flex;
    justify-self: center;
    object-fit: contain;
    border-radius: 10px;
}

.box-pd h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-info{
    padding: 10px 10px;
}

.card-info button{
    border-radius: 10px;
    padding: 3px 2px;
    border: solid gray 1px;
    width: 100%;
    margin-top: 10px;
}

.card-info .btn{
    display: flex;
    justify-content:center;
}
.card-info a{
    width: 100%;
}

.textend {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-icon a {
    text-decoration: none;
    font-size: 30px;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -10px;

    background-color: red;
    color: white;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}


